<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cricflex"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cricflexlogosmall"
        android:logo="@mipmap/cricflexlogosmall"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".ActivityWelcome"
            android:label="CricFlex"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ActivityLogin"
            android:label="CricFlex"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ActivityMain"
            android:theme="@style/CustomActivityTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRegister"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHelp"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityGraph"
            android:label="Real Time Graph" />
        <activity
            android:name=".ActivityAbout"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service android:name=".RFDService" />


    </application>

</manifest>